.icon-item{
    padding: 3px 5px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon-item:hover {
    background-color: #3a3d4c;
}


@keyframes tip-show {
    0% {
            opacity: 0;
            transform: translateY(150%);
        }
    100% {
        opacity: 1;
        transform: translateY(0%);
    
    }
}

.tip-show {
    background-color: #3a3d4c;
    position: absolute;
    bottom: 120%;
    padding: 5px 5px;
    border-radius: 10%;
    color: white;
    text-wrap: nowrap;
    animation: tip-show 0.3S ease-in-out;
    
}